@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@ViewData["Dir0"]</p>
    <p>@ViewData["Dir1"]</p>
    <p>@ViewData["Dir2"]</p>
    <p>@ViewData["Dir3"]</p>
</div>

<div>
    <input type="file" name="upload" id="uploadFile" /><br />
    <button id="submit">上传</button>
</div>

@section scripts{
    <script type="text/javascript">

$('#submit').on('click', function (e) {
    e.preventDefault();
    var files = document.getElementById('uploadFile').files;
    if (files.length > 0) {
        if (window.FormData !== undefined) {
            var data = new FormData();
            for (var x = 0; x < files.length; x++) {
                data.append("file" + x, files[x]);
            }

            $.ajax({
                type: "POST",
                url: '/api/FileUploadAPI',
                contentType: false,
                processData: false,
                data: data,
                success: function (result) {
                    console.log(result.message);
                    alert(result.message+" : "+result.filePath + " - " +result.size);
                },
                error: function (xhr, status, p3) {
                    console.log(status);
                    alert(status);
                 }
            });
        } else {
            alert("浏览器不支持加载HTML5文件！");
        }
    }
 });
    </script>
}
